system-a-api/src/main/resources/wsdl/FicoService.wsdl

<wsdl:definitions name="FicoServiceBinding" targetNamespace="http://system-a.com/fico-scoring" xmlns:ns1="http://system-a.com/fico-scoring/request" xmlns:ns2="http://system-a.com/fico-scoring/response" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://system-a.com/fico-scoring" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://system-a.com/fico-scoring" version="1.0" xmlns:tns="http://system-a.com/fico-scoring" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="FicoRequestType">
				<xs:sequence>
					<xs:element minOccurs="1" name="firstName" type="xs:string"/>
					<xs:element minOccurs="1" name="lastName" type="xs:string"/>
					<xs:element minOccurs="1" name="age" type="xs:integer"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FicoResponseType">
				<xs:sequence>
					<xs:element minOccurs="1" name="score" type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://system-a.com/fico-scoring/request" xmlns="http://system-a.com/fico-scoring/request" xmlns:tns="http://system-a.com/fico-scoring" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://system-a.com/fico-scoring"/>
			<xsd:element name="ficoRequest" nillable="true" type="tns:FicoRequestType"/>
		</xsd:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://system-a.com/fico-scoring/response" xmlns="http://system-a.com/fico-scoring/response" xmlns:tns="http://system-a.com/fico-scoring" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://system-a.com/fico-scoring"/>
			<xsd:element name="ficoResponse" nillable="true" type="tns:FicoResponseType"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ficoRequest">
		<wsdl:part element="ns1:ficoRequest" name="ficoRequest"/>
	</wsdl:message>
	<wsdl:message name="ficoResponse">
		<wsdl:part element="ns2:ficoResponse" name="ficoResponse"/>
	</wsdl:message>
	<wsdl:portType name="FicoService">
		<wsdl:operation name="getScore">
			<wsdl:input message="tns:ficoRequest" name="ficoRequest"/>
			<wsdl:output message="tns:ficoResponse" name="ficoResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FicoServiceBinding" type="tns:FicoService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getScore">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="ficoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ficoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FicoService">
		<wsdl:port binding="tns:FicoServiceBinding" name="FicoServicePort">
			<soap:address location="http://setThisInApplicationProperties"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>